* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #007eed;
  background-image: url('../images/pinstripe-dark.png');
  font-family: 'Roboto', sans-serif;
}

.loading {
  text-align: center;
  font-size: 20px;
  color: #eaeef2;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@keyframes swing
{
  15%
  {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
  }
  30%
  {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
  }
  50%
  {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
  }
  65%
  {
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
  }
  80%
  {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
  }
  100%
  {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
}

.nav__logo {
  color: #00529B;
  font-size: 50px;
  font-weight: bold;
  padding: 30px;
  font-family: 'Zilla Slab Highlight', cursive;
  text-decoration: none;
  animation: swing 1s linear alternate;
}

.nav__lang {
  padding: 20px;
}

.nav__lang__flag {
  width: 70px;
  height: 50px;
  padding: 10px;
}

.main {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.mainList__lists__default {

}

.mainList__lists__default--ul {

}

.mainList__lists__default--li {
  list-style: none;
  color: #eaeef2;
  font-size: 14px;
  width: 270px;
  background: #006ECE;
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
}

.mainList__lists__default--li:hover {
  background: #0060B5;
}

.mainList__lists__default--input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.mainList__lists__default--sup {
  color: #003D72;
}

.main__lists, .main__display{
  width: 600px;
  display: flex;
  justify-content: center;
  height: 440px;

}

.main__lists {
  border-right: 2px solid #00529B;
}

.mainList__lists__category {
  text-align:center;
  color: #00529B;
  font-weight: 800;
  padding: 15px;
}

.main__playBtn {
  background: #89E224;
  border-radius: 5px;
  width: 200px;
  height: 70px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  transition: background 0.5s ease;
}

.main__playBtn:hover {
  background: #75C11F;
}

.main__playBtn--btn {
  color: #eaeef2;
  text-decoration: none;
  text-shadow: 0px 0px 2px #000000;
}

.mainList, .mainDisplay {
  background: rgba(0,82,155, 0.1);
  box-shadow: inset 0px 10px 81px -1px rgba(0,110,206,1);
  width: 450px;
  border-radius: 5px;
}

.mainDisplay__instructions {
  padding: 30px;
  text-align: center;
  color: #003D72;
  max-height: 400px;
  overflow: auto;
}

.mainDisplay__header {
  padding: 20px;
  font-size: 18px;
}

.mainDisplay__table {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  padding-left: 80px;
  height: 300px;
}

.mainDisplay--ol {
  list-style: none;
}

.mainList__search--input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0;
  background: transparent;
  text-align: center;
  color: #eaeef2;
  border-bottom: 2px solid #00529B;
  outline: 0;
}

.mainList__user {
  color: #eaeef2;
  font-size: 12px;
  border-bottom: 1px solid #00529B;
}
.mainList__lists__user {

}

.mainList__lists__user--li {

}

.footer {
  background: #006ECE;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  padding: 30px;
}

.footer__logo {
  color: #00529B;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Zilla Slab Highlight', cursive;
}

.footer__slogan {
  color: #eaeef2;
  font-size: 16px;
  padding: 20px;
}

.footer__author {
  color: #00529B;
  font-size: 25px;
  text-align: right;
  padding-right: 50px;
  padding-bottom: 20px;
  font-family: 'Sacramento', cursive;
}

.game {
  background: rgba(0,82,155, 0.3);
  width: 1000px;
  height: 500px;
  border-radius: 5px;
  margin: auto;
}

.gameOver {
  background: rgba(0,46,86,0.5);
  width: 1000px;
  height: 500px;
  border-radius: 5px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
}

.gameOver__info {
  text-align: center;
  padding: 70px;
  font-size: 70px;
  color: #eaeef2;
}

.gameOver__score, .gameOver__opinion {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  color: #eaeef2;
}

.game__random {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__random__header {
  color: #eaeef2;
  font-size: 40px;
  text-align: center;
  padding: 70px;
}

.game__random__input {
  width: 300px;
  height: 60px;
  border: 0;
  background: transparent;
  text-align: center;
  color: #eaeef2;
  border-bottom: 2px solid #00529B;
  padding: 10px;
  font-size: 18px;
  outline: 0;
}

.game__random__btn {
  background: #89E224;
  border-radius: 5px;
  width: 100px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  border: 0;
  color: #eaeef2;
  margin: 20px;
  outline: 0;
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  transition: background 0.5s ease;
}

.game__random__btn:hover {
  background: #75C11F;
}

.game__info {
  display: flex;
  justify-content: flex-end;
}

.game__time, .game__score {
  color: #eaeef2;
  padding: 20px;
  font-size: 20px;
}
